@page "/aboutme"
@model Chirp.Razor.Pages.AboutMeModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var currentUser = await Model.GetCurrentAuthor(User.Identity?.Name!);
}

<div>
    <h2> About me </h2>
    <div class="userInformation">
        <div class="profilePicture">
            <img src="https://placehold.co/200x200"> 
        </div>
        <div>
            <form class="updateUserInformation" method="POST" asp-page-handler="UpdateAuthor">
                <div>
                    @if (!ViewData.ModelState.IsValid) {
                        <ul class="errorMSG">
                            <li>@Html.ValidationMessage("ErrorMessageUsername")</li>
                            <li>@Html.ValidationMessage("ErrorMessageEmail")</li>
                        </ul>
                    }
                </div>
                <div asp-validation-summary="ModelOnly" class="errorMSG" role="alert"></div>
                <div class="inputWrapper">
                    <span>
                        <label class="form-label text" for="Username">Username</label>
                        <input asp-for="Username" class="updateUserInformationInput" autocomplete="false" aria-required="true"
                            value="@currentUser.Name" />
                    </span>
                    <span>
                        <label class="form-label text" for="Email">Email</label>
                        <input asp-for="Email" class="updateUserInformationInput" autocomplete="false" aria-required="true"
                            value="@currentUser.Email" />
                    </span>
                </div>
                <div class="buttonWrapper">
                    <button type="submit" class="updateButton">Update user</button>
                </div>
            </form>
            
            <form class="deleteUserFormPos" method="POST" asp-page-handler="DeleteAuthor">
                <div class="buttonWrapper">
                    <button type="submit" class="deleteButton">Delete user</button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="followesList">
        @if (Model.Followers.Any())
        {
            <p class="text">Here is a list of your followers:</p>
            <ul>
                @foreach (var follower in Model.Followers)
                {
                    
                       var nameOfFollower =  Model.getAuthor(follower.AuthorId).Result.Name;
                    
                    <li><a href="/@nameOfFollower">@nameOfFollower</a></li>
                }
            </ul>
        } else {
            <p class="text">You have no followers.</p>
        }
   </div>
   <hr>
   <div>
      @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <img src="https://placehold.co/50x50"> 
                    <p class="cheepAuhtor">
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                    </p>  
                    <p class="cheepText">
                        @cheep.Text
                    </p>
                    <br>
                    <hr>
                    <div class="footerGrouping">
                        <p class="time"><small>&mdash; @cheep.Timestamp.ToLocalTime()</small></p>
                        <span class="likeWrapper">
                            <div class="likeButton">
                                Like
                            </div>
                            <span class="likeCounter">0</span>
                        </span>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
   </div>
</div>