@page "/{author}"
@model Chirp.Razor.Pages.UserTimelineModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

@if (User.Identity!.IsAuthenticated && routeName!.Equals(User.Identity!.Name)) 
{
    <div class="cheepbox">
        <h3>What's on your mind @(User.Identity!.Name!)?</h3>
        <form method="post" asp-page-handler="Cheep">
            <input style="float: left" type="text" asp-for="CheepText">
            <input type="submit" value="Share">
        </form>
        @if (!ViewData.ModelState.IsValid) 
        {
            <ul class="errorMSG">
                <li>@Html.ValidationMessage("ErrorMessageLength")</li>
            </ul>
        }
    </div>
}

<div>
    <h2> @routeName's Timeline </h2>
    @if (Model.Cheeps.Any())
    {
        //<partial name="Shared/_Cheeps.cshtml" />
    <ul id="messagelist" class="cheeps">
        @foreach (var cheep in Model.Cheeps)
        {
            <li>
                <img src="@await Model.GetImageUrl(cheep.Author)"> 
                <p class="cheepAuhtor">
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                    </strong>
                </p>

                @if (!cheep.Author.Equals(User.Identity?.Name)) 
                {
                    @if (await Model.IsFollowed(cheep.Author)) 
                    {
                        <form method="POST" asp-page-handler="Unfollow" > 
                            <input type="hidden" value="@cheep.Author" asp-for="Author"/>
                        <button class="followButton" type="submit">Unfollow</button>
                        </form>
                    }
                    else 
                    {
                        <form method="POST" asp-page-handler="Follow" > 
                            <input type="hidden" value="@cheep.Author" asp-for="Author"/>
                            <button class="followButton" type="submit">Follow</button>
                        </form> 
                    }
                }
                            
                <p class="cheepText">
                    @cheep.Text
                </p>

                <br>
                <hr>
                    
                <div class="footerGrouping">
                    <p class="time"><small>&mdash; @cheep.Timestamp.ToLocalTime()</small></p>
                    <span class="likeWrapper">
                        <div>
                        <form method="POST" asp-page-handler="Like"> 
                            <input type="hidden" value="@cheep.Id" asp-for="CheepId"/>
                            @if (!await Model.IsLiked(cheep.Id, User.Identity.Name)) 
                            {
                                <button class="likeButton" type="submit">Like</button>
                            } else {
                                <button class="likeButton" type="submit">Dislike</button>

                            }
                            
                        </form> 
                        </div>
                        <span class="likeCounter">@cheep.Likes</span>
                    </span>
                </div>
            </li>
        }
    </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>