@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <a href="/">public timeline</a>
    <div class="col-md-4">
        <section>
            <div class="titleWrapper">
                <h2>Use a local account to log in.</h2>
                <h2>Use another service to log in.</h2>
            </div>
            <hr />
            <div class="multiRow">
                <div class="singleRow">
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="errorMSG" role="alert"></div>
                        <div class="form-floating mb-3 wrapper">
                            <label asp-for="Input.Email" class="form-label text">Email</label>
                            <input asp-for="Input.Email" class="form-control emailAndPassword" autocomplete="username" aria-required="true"
                                placeholder="Name@example.com" /> 
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3 wrapper">
                        <label asp-for="Input.Password" class="form-label text">Password</label>
                            <input asp-for="Input.Password" class="form-control emailAndPassword" autocomplete="current-password"
                                aria-required="true" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3 rememberMe">
                            <label asp-for="Input.RememberMe" class="form-label text">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary loginButton">Log in</button>
                        </div>
                        <div>
                            <p class="linksWrapper">
                                <a id="forgot-password" class="links" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p class="linksWrapper">
                                <a asp-page="./Register" class="links" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p class="linksWrapper">
                                <a id="resend-confirmation" class="links" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="singleRow">
                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a
                                        href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                        about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                                class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn btn-primary loginButton githubButton" name="provider" value="@provider.Name"
                                                title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    }
                </div>
            </div>
            
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
